<configuration>
    <configSections>
        <section name="RogueTilerSettings" type="Coslen.RogueTiler.Domain.Utilities.Configuration.RogueTilerSettings, Coslen.RogueTiler.Domain" />
    </configSections>
    <!-- Debug Levels {Debug/Info/Error} -->
    <RogueTilerSettings debugLevel="Error" />
</configuration>