<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="RogueTilerSettings" type="Coslen.RogueTiler.Domain.Utilities.Configuration.RogueTilerSettings, Coslen.RogueTiler.Domain" />
    </configSections>
    <!-- Debug Levels {Debug/Info/Error} -->
    <RogueTilerSettings debugLevel="Debug" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>